<a class="flex flex-col" routerLink="/">
  <div class="flex items-center gap-3">
    <div class="flex items-center gap-2">
      <img src="/wdc-ui-logo.svg" alt="wdc-ui logo" class="w-7 h-7" />
      <div class="flex flex-col justify-center">
        <div class="flex flex-col ml-1">
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-indigo-600 animate-gradient text-3xl font-black tracking-tight"
          >
            {{ AppSetting.title }}
          </span>
          <!-- <span class="text-[10px] mt-[-6px] font-medium">Angular UI Library</span> -->
        </div>
      </div>
    </div>
  </div>
</a>
