<wdc-card>
  <wdc-card-header class="bg-white rounded-t-xl">
    <div class="flex justify-between items-center">
      <div>
        <wdc-card-title>{{ title() }}</wdc-card-title>
        <wdc-card-description>{{ description() }}</wdc-card-description>
      </div>
      @if (showCode()) {
        <div class="flex bg-gray-200/50 p-1 rounded-lg">
          <button
            (click)="activeTab.set('preview')"
            [class.bg-white]="activeTab() === 'preview'"
            [class.text-indigo-600]="activeTab() === 'preview'"
            [class.shadow-sm]="activeTab() === 'preview'"
            [class.text-gray-600]="activeTab() !== 'preview'"
            class="px-4 py-1.5 cursor-pointer text-xs font-semibold rounded-md transition-all duration-200 focus:outline-none"
          >
            Preview
          </button>
          <button
            (click)="activeTab.set('code')"
            [class.bg-white]="activeTab() === 'code'"
            [class.text-indigo-600]="activeTab() === 'code'"
            [class.shadow-sm]="activeTab() === 'code'"
            [class.text-gray-600]="activeTab() !== 'code'"
            class="px-4 py-1.5 cursor-pointer text-xs font-semibold rounded-md transition-all duration-200 focus:outline-none"
          >
            Code
          </button>
        </div>
      }
    </div>
  </wdc-card-header>

  <wdc-card-content class="p-0">
    <div class="relative">
      @if (activeTab() === 'preview') {
        <div
          class="p-10 flex flex-wrap gap-4 rounded-b-xl items-center justify-center border-b border-gray-100 bg-slate-50 bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] [background-size:24px_24px]"
        >
          <ng-content select="[preview]"></ng-content>
        </div>
      } @else {
        <div class="relative rounded-b-xl group overflow-hidden bg-slate-900">
          <div class="overflow-x-auto">
            <app-code-viewer [htmlCode]="htmlCode()" [tsCode]="tsCode()"></app-code-viewer>
            <!-- <app-code-block [htmlCode]="htmlCode()" [tsCode]="tsCode()"></app-code-block> -->
          </div>
        </div>
      }
    </div>
  </wdc-card-content>
</wdc-card>
